/* cart.css */
.cart {
    margin-right: 10px;
    font-size: 100px;
    cursor: pointer;
}

.cart-link {
    color: #fff;
    text-decoration: none;
}

/* cartDetail.css */
.cart-detail {
    padding: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item-details {
    flex: 1;
}

.btn-danger {
    background-color: #ff4c4c;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}