.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Nunito", serif;
  font-weight: 400;
  font-style: normal;
}

.faq-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.faq-container p {
  margin-bottom: 20px;
}

.faq-list {
  border-top: 1px solid #ddd;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.bi-caret-down {
  color: #fd8d14;
}

.bi-caret-up {
  color: #fd8d14;
}

.faq-answer {
  margin-top: 10px;
  font-size: 16px;
  color: #7e7e7e;
}

.contact-section {
  margin-top: 40px;
  text-align: center;
}

.contact-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-section p {
  margin-bottom: 20px;
}

.btn {
  background-color: #fd8d14;
  color: #000000;
  border: #ffffff;
  font-family: "Nunito", serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 4px;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Responsive design */
@media (max-width: 600px) {
  .faq-container {
    padding: 10px;
  }

  .faq-container h1 {
    font-size: 20px;
  }

  .faq-container p {
    font-size: 14px;
  }

  .faq-question {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 12px;
  }

  .contact-section h2 {
    font-size: 18px;
  }

  .contact-section p {
    font-size: 14px;
  }
}