body {
    font-family: Arial, sans-serif;
}

.user-profile-container {
    display: flex;
    height: calc(100vh - 60px); 
    padding: 30px 20px; 
    box-sizing: border-box;
}

.sidebar {
    position: sticky;
    top: 0;
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.profile {
    margin-bottom: 30px;
}

.profile img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 10px;
}

.nav-link {
    color: #333;
    font-weight: 500;
    margin-bottom: 20px; 
    display: block; 
    text-decoration: none; 
}

.nav-link:hover {
    color: rgb(243, 117, 44);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-methods {
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
    width: 100%; 
}

.saved-method i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.card-number {
    font-weight: bold;
}

.delete-icon {
    font-size: 1.2rem !important;
    color: red;
    cursor: pointer;
}

.new-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; 
}

.new-method h3 {
    margin-bottom: 10px;
    text-align: center;
}

.new-method .form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    background-color: rgb(243, 117, 44);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
}

.security-form .form-group {
    margin-bottom: 15px;
    width: 100%;
}

.security-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.order-status {
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-body {
    position: relative;
    display: flex;
    flex-direction: column;
}