/* .wu-container {
    margin-top: 200px;
    margin-bottom: 200px;
} */

.contact-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 10px;
    margin-top: 100px;

}

h2 {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
    color: #fd8d14;
}

.iconn {
    color: #fd8d14;
}

.wu-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.w-contain {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}